#root {
  margin: 16px;
  text-align: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

li {
  list-style: none;
  margin: 8px;
  padding: 10px;
  border: whitesmoke 3px solid;
  border-radius: 8px;
  text-align: center;
}
